* {
  margin: 0;
  padding: 0;
}

div.pixel {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 2px;
}

div.pickr > button.pcr-button {
  height: 50px;
  width: 50px;
  border-radius: 2px;
}

a.btn {
  margin: 5px;
}